.prodMain .sale {
  height: 60%;
  /* background-color: rgba(255, 0, 0, 0.034); */
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
  padding-bottom: 50px;
}
.cols {
  min-width: 45%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 50px;
  transition: ease-in-out 0.3s;
}
.sale::-webkit-scrollbar {
  width: 5px;
}
.sale .card {
  grid-column-start: span 1;
  grid-row-start: span 1;
  width: 100%;
  height: 200px;
  margin: 0 auto 0 auto;
  border-radius: 30px;
  background-color: rgba(161, 161, 161, 0.349);

  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
}
.card .icon {
  height: 150px;
  width: 150px;
  margin: auto 0 auto 0;
  background-size: cover;
  filter: saturate(.8);
}
.card:hover {
  /* scale: 120%; */
  background-color: rgba(51, 51, 51, 0.3);
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.3);
}
.card .text {
  width: 60%;
  height: 130px;
  margin: auto 0 auto 0;
  display: flex;
  justify-content: space-evenly;
  /* background-color: orange; */
}
.low button {
  background-color: white;
  border: 3px solid white;
  color: black;
  font-weight: bold;
  padding: 10px 15%;
}
.low button:hover {
  background-color: transparent;
  color: white;
  font-weight: normal;
}
.text .h {
  color: white;
  font-size: 30px;
  letter-spacing: 2px;
  line-height: 30px;
}
.text .p {
  color: var(--gray);
  font-size: 20px;
  letter-spacing: unset;
  margin-right: auto;
}
.text .low {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#ic1 {
  background-image: url("../resrc/item5.png");
}
#ic2 {
  background-image: url("../resrc/item2.png");
}
#ic3 {
  background-image: url("../resrc/item1.png");
}
#ic4 {
  background-image: url("../resrc/item3.png");
}
#ic5 {
  background-image: url("../resrc/item6.png");
}
#ic6 {
  background-image: url("../resrc/item4.png");
}
@media screen and (max-width: 1000px) {
  .low {
    flex-direction: column;
    justify-content: space-between;
  }
  .low button {
    margin-top: 10px;
    padding: 5px 20%;
  }
  .sale .card{
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 750px) {
  .prodMain .sale {
    flex-direction: column;
    min-width: unset;
    width: 100%;
    /* height: 70%; */
    gap: 20px;

    justify-content: space-between;
    overflow-y: scroll;
  }
  .cols {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
  }
  .low button {
    padding: 10px 30%;
  }

  .card .icon {
    height: 100px;
    width: 100px;
  }
  .card .text .h1 {
    font-size: 25px;
  }
  .card .text .h {
    font-size: 5px;
  }
}
