.reviews {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  /* background-color: rgb(53, 53, 53); */
  background-color: transparent;
  /* padding: 0 5% 0px; */
}
.reviews .h {
  text-align: right;
  letter-spacing: 2px;
  padding-right: 5%;
}
.reviews .revs {
  position: relative;
  height: 450px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  transition: ease-in-out 0.5s;
  z-index: 1;
}
.head {
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 20px -30px 20px;
}
.head .star {
  width: 100px;
  fill: yellow;
  margin: auto;
}
#c1 .pfp {
  background-image: url("../resrc/c1.webp");
  background-size: cover;
  border: 1px solid rgb(2, 255, 129);
  box-shadow: 0 0 50px rgb(2, 255, 129);
}
#c2 .pfp {
  background-image: url("../resrc/c3.jpg");
  background-size: cover;
  border: 1px solid rgb(255, 166, 2);
  box-shadow: 0 0 50px rgb(255, 166, 2);
}
#c3 .pfp {
  background-image: url("../resrc/c2.jpg");
  background-size: cover;
  border: 1px solid rgb(91, 2, 255);
  box-shadow: 0 0 50px rgb(91, 2, 255);
}
#c1 .com {
  background-color: rgb(2, 255, 129, 0.3);
}
#c2 .com {
  background-color: rgb(255, 166, 2, 0.3);
}
#c3 .com {
  background-color: rgb(91, 2, 255, 0.3);
}
.pfp {
  position: relative;
  width: 100px;
  height: 100px;
  /* margin: 30px 100px -20px; */
  /* margin-bottom: -25; */
  border-radius: 50%;
  filter: contrast(0.8);
  transition: ease-in-out 0.5s;
}
.com {
  width: 300px;
  height: 250px;
  border-radius: 10px;
  text-align: center;
  padding: 40px 20px;
  line-height: 25px;
  color: white;
  transition: ease-in-out 0.5s;
}
#c1 .com {
  box-shadow: 0 0 50px rgb(2, 255, 129);
}
#c2 .com {
  box-shadow: 0 0 50px rgb(255, 166, 2);
}
#c3 .com {
  box-shadow: 0 0 50px rgb(91, 2, 255);
}
@media screen and (max-width: 1000px) {
  .reviews .revs {
    padding-left: 100px;
    padding-right: 100px;
    scroll-snap-type: x mandatory;
    gap: 30%;
    overflow-y: hidden;
    overflow-x: scroll;
    justify-content: space-between;
  }
  #c1,
  #c2,
  #c3 {
    scroll-snap-align: center;
  }
  .reviews .label {
    font-size: 30px;
  }
  .com {
    width: 350px;
    padding: 45px 30px;
  }
}

@media screen and (max-width: 720px){
  .reviews .revs{
    /* padding-left: unset;
    padding-right: unset; */
    height: 500px;
  }
  .head {
    margin: 50px 20px -45px 20px;
  }
  .pfp{
    width: 70px;
    height: 70px;
  }
  .com{
    width: 280px;
    height: 300px;
    /* padding: 45px 30px; */
  }
}